@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@-webkit-keyframes go-back {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes go-back {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes aaa {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

@keyframes aaa {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

@-webkit-keyframes teste2 {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  75% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}

@keyframes teste2 {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  75% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}

@-webkit-keyframes teste1 {
  0% {
    top: 0px;
    background: red;
    width: 100px;
  }
  100% {
    top: 200px;
    background: yellow;
    width: 300px;
  }
}

@keyframes teste1 {
  0% {
    top: 0px;
    background: red;
    width: 100px;
  }
  100% {
    top: 200px;
    background: yellow;
    width: 300px;
  }
}

@-webkit-keyframes testee {
  0% {
    width: 60%;
    height: 60%;
    font-size: 1.2em;
  }
  100% {
    width: 0%;
    height: 0%;
    font-size: 0;
  }
}

@keyframes testee {
  0% {
    width: 60%;
    height: 60%;
    font-size: 1.2em;
  }
  100% {
    width: 0%;
    height: 0%;
    font-size: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #aaa;
  font-family: 'Poppins', sans-serif;
}

.absolute-position {
  position: absolute;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#018aa6));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #018aa6 100%);
  top: 160px;
}

@media (max-width: 37.4375em) {
  .absolute-position {
    top: 100px;
  }
}

.fixed-position {
  position: fixed;
  z-index: 1;
  border-top: 2px solid #090979;
  top: 0;
}

.neutral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 50px;
  border-radius: 10px;
  background: none;
  -webkit-transition: .6s;
  transition: .6s;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 50px;
  border-radius: 10px;
  background: #f00;
  color: #000;
  -webkit-transition: .6s;
  transition: .6s;
}

.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 50px;
  border-radius: 10px;
  background: green;
  color: #000;
  -webkit-transition: .6s;
  transition: .6s;
}

.form-neutral {
  width: 90%;
  height: 0px;
  background: none;
  border-radius: 10px;
  -webkit-transition: .6s;
  transition: .6s;
}

.form-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  padding: 8px;
  background: #f00;
  border-radius: 10px;
  font-size: .9em;
  -webkit-transition: .6s;
  transition: .6s;
}

.form-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  background: green;
  border-radius: 10px;
  padding: 8px;
  font-size: .9em;
  -webkit-transition: .6s;
  transition: .6s;
}

.btn-page {
  color: #000;
}

.hidden {
  display: none !important;
}

header {
  width: 100vw;
  font-size: 20px;
}

@media (max-width: 37.4375em) {
  header {
    font-size: 14px;
  }
}

header .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  height: 160px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#018aa6));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #018aa6 100%);
}

@media (max-width: 37.4375em) {
  header .container-header {
    height: 100px;
  }
}

header .container-header img {
  width: 80px;
  height: 70px;
  margin-bottom: 10px;
}

@media (max-width: 37.4375em) {
  header .container-header img {
    width: 40px;
    height: 35px;
  }
}

header .container-header h1 {
  font-size: 1.4em;
  font-weight: 600;
}

@media (max-width: 37.4375em) {
  header .container-header h1 {
    font-size: 1em;
  }
}

header .container-header h2 {
  font-size: 1.1em;
  font-weight: 500;
}

@media (max-width: 37.4375em) {
  header .container-header h2 {
    font-size: .8em;
  }
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 50px;
  background: #000;
}

@media (max-width: 37.4375em) {
  header .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
}

header .nav-bar p {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 60px;
  color: #fff;
}

@media (max-width: 37.4375em) {
  header .nav-bar p {
    font-size: .8em;
    margin: 0;
  }
}

#about {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
}

@media (max-width: 37.4375em) {
  #about {
    font-size: 14px;
  }
}

#about .carousel-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
  height: inherit;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
}

#about .carousel-about .about-container,
#about .carousel-about .see-more-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  scroll-snap-align: start;
}

#about .carousel-about .about-container .about-content,
#about .carousel-about .about-container .see-more-content,
#about .carousel-about .see-more-container .about-content,
#about .carousel-about .see-more-container .see-more-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  scroll-snap-align: start;
  width: 85%;
  height: 80%;
  border-radius: 20px;
  padding: 60px;
  background: #f0f0f7;
  -webkit-box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 37.4375em) {
  #about .carousel-about .about-container .about-content,
  #about .carousel-about .about-container .see-more-content,
  #about .carousel-about .see-more-container .about-content,
  #about .carousel-about .see-more-container .see-more-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 80%;
    padding: 10px;
  }
}

#about .carousel-about .about-container .about-content .container-image,
#about .carousel-about .about-container .see-more-content .container-image,
#about .carousel-about .see-more-container .about-content .container-image,
#about .carousel-about .see-more-container .see-more-content .container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#about .carousel-about .about-container .about-content .container-image img,
#about .carousel-about .about-container .see-more-content .container-image img,
#about .carousel-about .see-more-container .about-content .container-image img,
#about .carousel-about .see-more-container .see-more-content .container-image img {
  width: 200px;
}

@media (max-width: 37.4375em) {
  #about .carousel-about .about-container .about-content .container-image img,
  #about .carousel-about .about-container .see-more-content .container-image img,
  #about .carousel-about .see-more-container .about-content .container-image img,
  #about .carousel-about .see-more-container .see-more-content .container-image img {
    width: 180px;
    margin-top: 40px;
  }
}

#about .carousel-about .about-container .about-content .about-informations,
#about .carousel-about .about-container .see-more-content .about-informations,
#about .carousel-about .see-more-container .about-content .about-informations,
#about .carousel-about .see-more-container .see-more-content .about-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 40%;
}

#about .carousel-about .about-container .about-content .about-informations button,
#about .carousel-about .about-container .see-more-content .about-informations button,
#about .carousel-about .see-more-container .about-content .about-informations button,
#about .carousel-about .see-more-container .see-more-content .about-informations button {
  width: 200px;
  height: 40px;
  background: cadetblue;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: .8s;
  transition: .8s;
  font-size: 1.04em;
}

#about .carousel-about .about-container .about-content .about-informations button:hover,
#about .carousel-about .about-container .see-more-content .about-informations button:hover,
#about .carousel-about .see-more-container .about-content .about-informations button:hover,
#about .carousel-about .see-more-container .see-more-content .about-informations button:hover {
  background: #0e3c3d;
  -webkit-transition: .8s;
  transition: .8s;
  color: #fff;
}

#about .carousel-about .about-container .about-content .about-informations h2,
#about .carousel-about .about-container .see-more-content .about-informations h2,
#about .carousel-about .see-more-container .about-content .about-informations h2,
#about .carousel-about .see-more-container .see-more-content .about-informations h2 {
  font-size: 1.6em;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 37.4375em) {
  #about .carousel-about .about-container .about-content .about-informations h2,
  #about .carousel-about .about-container .see-more-content .about-informations h2,
  #about .carousel-about .see-more-container .about-content .about-informations h2,
  #about .carousel-about .see-more-container .see-more-content .about-informations h2 {
    font-size: 1.1em;
  }
}

#about .carousel-about .about-container .about-content .about-informations p,
#about .carousel-about .about-container .see-more-content .about-informations p,
#about .carousel-about .see-more-container .about-content .about-informations p,
#about .carousel-about .see-more-container .see-more-content .about-informations p {
  font-size: 1em;
  margin: 10px 0;
}

@media (max-width: 37.4375em) {
  #about .carousel-about .about-container .about-content .about-informations p,
  #about .carousel-about .about-container .see-more-content .about-informations p,
  #about .carousel-about .see-more-container .about-content .about-informations p,
  #about .carousel-about .see-more-container .see-more-content .about-informations p {
    font-size: 1em;
    margin-bottom: 20px;
  }
}

#about .carousel-about .see-more-container .see-more-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 60px;
  padding-bottom: 100px;
}

#about .carousel-about .see-more-container .see-more-content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#about .carousel-about .see-more-container .see-more-content .top button {
  width: 100px;
  height: 40px;
  background: cadetblue;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: .8s;
  transition: .8s;
  font-size: 1.04em;
}

#about .carousel-about .see-more-container .see-more-content .top button:hover {
  background: #0e3c3d;
  -webkit-transition: .8s;
  transition: .8s;
  color: #fff;
}

#about .carousel-about .see-more-container .see-more-content .more-informations p {
  text-indent: 1.4em;
}

#informations {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  padding-top: 60px;
  position: relative;
}

@media (max-width: 37.4375em) {
  #informations {
    font-size: 14px;
  }
}

#informations .fa-chevron-left {
  position: absolute;
  cursor: pointer;
  font-size: 5em;
  top: 100px;
  left: 40px;
}

@media (max-width: 37.4375em) {
  #informations .fa-chevron-left {
    font-size: 3em;
    left: 20px;
  }
}

#informations .fa-chevron-right {
  position: absolute;
  cursor: pointer;
  font-size: 5em;
  top: 100px;
  right: 40px;
}

@media (max-width: 37.4375em) {
  #informations .fa-chevron-right {
    font-size: 3em;
    right: 20px;
  }
}

#informations .fa-chevron-left:hover,
#informations .fa-chevron-right:hover {
  color: #aaa;
}

#informations .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#018aa6));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #018aa6 100%);
  color: #fff;
}

#informations .top-bar .container-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#informations .top-bar .container-comments .show-comments-field {
  position: relative;
}

#informations .top-bar .container-comments .show-comments-field .show-comments {
  cursor: pointer;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
  height: 600px;
  position: absolute;
  top: 50px;
  left: -450px;
  background: #00665e;
  border-radius: 20px;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .show-comments-field .populate-comments {
    width: 320px;
    height: 520px;
    top: 40px;
    left: -160px;
  }
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .pagination p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 4px;
  margin-bottom: 10px;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .pagination .page-link:hover {
  cursor: pointer;
  color: #aaa;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  height: 92%;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  border-radius: 20px;
  background: #6a7c79;
  margin: 6px 0;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info .comment {
    height: 140px;
    margin: 4px 0;
  }
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info .comment .main {
  height: 124px;
  padding: 10px;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info .comment .main p {
  font-size: 1.08em;
  color: #000;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info .comment .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-info .comment .bottom p {
  font-size: 1em;
  font-weight: 500;
  color: #0e3c3d;
}

#informations .top-bar .container-comments .show-comments-field .populate-comments::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00665e;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .show-comments-field .populate-comments::before {
    right: 80px;
  }
}

#informations .top-bar .container-comments .add-comments-field {
  position: relative;
}

#informations .top-bar .container-comments .add-comments-field i {
  font-size: 1.4em;
  margin: 0 10px;
  cursor: pointer;
}

#informations .top-bar .container-comments .add-comments-field .container-form {
  width: 400px;
  height: 390px;
  position: absolute;
  top: 50px;
  left: -250px;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .add-comments-field .container-form {
    width: 280px;
    height: 280px;
    top: 40px;
    right: 100px;
  }
}

#informations .top-bar .container-comments .add-comments-field .container-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background: #00665e;
}

#informations .top-bar .container-comments .add-comments-field .container-form form input,
#informations .top-bar .container-comments .add-comments-field .container-form form textarea {
  width: 90%;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  outline: none;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .add-comments-field .container-form form input,
  #informations .top-bar .container-comments .add-comments-field .container-form form textarea {
    margin: 5px 0;
  }
}

#informations .top-bar .container-comments .add-comments-field .container-form form textarea {
  height: 100px;
}

#informations .top-bar .container-comments .add-comments-field .container-form form label {
  font-size: 1em;
  color: #000;
}

#informations .top-bar .container-comments .add-comments-field .container-form form button {
  width: 80%;
  height: 40px;
  background: cadetblue;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.1em;
  font-weight: 600;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .add-comments-field .container-form form button {
    margin: 20px 0;
  }
}

#informations .top-bar .container-comments .add-comments-field .container-form form button:hover {
  cursor: pointer;
  background: #0e3c3d;
  color: #fff;
}

#informations .top-bar .container-comments .add-comments-field .container-form::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 115px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00665e;
}

@media (max-width: 37.4375em) {
  #informations .top-bar .container-comments .add-comments-field .container-form::before {
    top: -10px;
    right: 30px;
  }
}

#informations .carousel-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
  width: inherit;
  height: 80vh;
  background: #f0f0f7;
}

#informations .qualification,
#informations .experience,
#informations .qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  scroll-snap-align: start;
  width: inherit;
  height: 100%;
}

@media (max-width: 37.4375em) {
  #informations .qualification,
  #informations .experience,
  #informations .qualities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

#informations .qualification img,
#informations .experience img,
#informations .qualities img {
  width: 400px;
}

@media (max-width: 37.4375em) {
  #informations .qualification img,
  #informations .experience img,
  #informations .qualities img {
    width: 250px;
    margin-bottom: 40px;
  }
}

#informations .qualification h3,
#informations .experience h3,
#informations .qualities h3 {
  font-size: 1.2em;
}

@media (max-width: 37.4375em) {
  #informations .qualification h3,
  #informations .experience h3,
  #informations .qualities h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
}

#informations .qualification p,
#informations .experience p,
#informations .qualities p {
  font-size: 1em;
}

@media (max-width: 37.4375em) {
  #informations .qualification p,
  #informations .experience p,
  #informations .qualities p {
    font-size: 1.2em;
  }
}

#skills {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  padding-top: 40px;
}

@media (max-width: 37.4375em) {
  #skills {
    font-size: 14px;
  }
}

#skills .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 100px;
  height: 40px;
  margin-top: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#018aa6));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #018aa6 100%);
  color: #fff;
}

#skills .top-bar .container-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#skills .top-bar .container-comments .show-comments-field {
  position: relative;
}

#skills .top-bar .container-comments .show-comments-field .show-comments {
  cursor: pointer;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
  height: 600px;
  position: absolute;
  top: 50px;
  left: -450px;
  background: #00665e;
  border-radius: 20px;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .show-comments-field .populate-comments {
    width: 320px;
    height: 520px;
    top: 40px;
    left: -160px;
  }
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .pagination p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 4px;
  margin-bottom: 10px;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .pagination .page-link-s:hover {
  cursor: pointer;
  color: #aaa;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 92%;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  border-radius: 20px;
  margin: 6px 0;
  background: #6a7c79;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills .comment {
    height: 140px;
    margin: 4px 0;
  }
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills .comment .main {
  height: 124px;
  padding: 10px;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills .comment .main p {
  font-size: 1.08em;
  color: #000;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills .comment .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments .container-populate-comments .content-skills .comment .bottom p {
  font-size: 1em;
  font-weight: 500;
  color: #0e3c3d;
}

#skills .top-bar .container-comments .show-comments-field .populate-comments::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00665e;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .show-comments-field .populate-comments::before {
    right: 80px;
  }
}

#skills .top-bar .container-comments .add-comments-field {
  position: relative;
}

#skills .top-bar .container-comments .add-comments-field i {
  font-size: 1.4em;
  margin: 0 10px;
  cursor: pointer;
}

#skills .top-bar .container-comments .add-comments-field .container-form {
  width: 400px;
  height: 390px;
  position: absolute;
  top: 50px;
  left: -250px;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .add-comments-field .container-form {
    width: 280px;
    height: 280px;
    top: 40px;
  }
}

#skills .top-bar .container-comments .add-comments-field .container-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  height: inherit;
  border-radius: 20px;
  background: #00665e;
}

#skills .top-bar .container-comments .add-comments-field .container-form form input,
#skills .top-bar .container-comments .add-comments-field .container-form form textarea {
  width: 90%;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  outline: none;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .add-comments-field .container-form form input,
  #skills .top-bar .container-comments .add-comments-field .container-form form textarea {
    margin: 5px 0;
  }
}

#skills .top-bar .container-comments .add-comments-field .container-form form textarea {
  height: 100px;
}

#skills .top-bar .container-comments .add-comments-field .container-form form label {
  font-size: 1em;
  color: #000;
}

#skills .top-bar .container-comments .add-comments-field .container-form form button {
  width: 80%;
  height: 40px;
  background: cadetblue;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.1em;
  font-weight: 600;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .add-comments-field .container-form form button {
    margin: 20px 0;
  }
}

#skills .top-bar .container-comments .add-comments-field .container-form form button:hover {
  cursor: pointer;
  background: #0e3c3d;
  color: #fff;
}

#skills .top-bar .container-comments .add-comments-field .container-form::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 115px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #00665e;
}

@media (max-width: 37.4375em) {
  #skills .top-bar .container-comments .add-comments-field .container-form::before {
    top: -10px;
    right: 30px;
  }
}

#skills .container-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: 90%;
  background: #f0f0f7;
}

#skills .container-skills .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 70%;
}

@media (max-width: 37.4375em) {
  #skills .container-skills .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#skills .container-skills .main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 700px;
  background: #000;
  border-radius: 30px;
  padding: 10px;
}

@media (max-width: 37.4375em) {
  #skills .container-skills .main nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 2px;
  }
}

#skills .container-skills .main nav i {
  font-size: 4em;
  cursor: pointer;
  color: #fff;
  margin: 5px 0;
}

@media (max-width: 37.4375em) {
  #skills .container-skills .main nav i {
    font-size: 2.6em;
  }
}

#skills .container-skills .main nav .fa-html5:hover {
  color: #f00;
}

#skills .container-skills .main nav .fa-css3-alt:hover {
  color: #0077c7;
}

#skills .container-skills .main nav .fa-js-square:hover {
  color: #ff0;
}

#skills .container-skills .main nav .fa-node-js:hover {
  color: #008a00;
}

#skills .container-skills .main nav .fa-react:hover {
  color: #0199f1;
}

#skills .container-skills .main nav .fa-sass:hover {
  color: #aa0185;
}

#skills .container-skills .main nav .fa-bootstrap:hover {
  color: #2b01a0;
}

#skills .container-skills .main nav .fa-database:hover {
  color: palegreen;
}

#skills .container-skills .main .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 100%;
}

#skills .container-skills .main .skills-content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1500px;
  height: 650px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

@media (max-width: 37.4375em) {
  #skills .container-skills .main .skills-content .skills {
    width: 100%;
    height: 90%;
    margin-top: 10px;
  }
}

#skills .container-skills .main .skills-content .skills h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.4em;
  margin-bottom: 40px;
}

@media (max-width: 37.4375em) {
  #skills .container-skills .main .skills-content .skills h4 {
    font-size: 1em;
    margin-bottom: 5px;
  }
}

#skills .container-skills .main .skills-content .skills p {
  font-size: 1.2em;
}

@media (max-width: 37.4375em) {
  #skills .container-skills .main .skills-content .skills p {
    font-size: .9em;
  }
}

#skills .container-skills .main .skills-content .html {
  background: lightcoral;
}

#skills .container-skills .main .skills-content .css {
  background: lightsteelblue;
}

#skills .container-skills .main .skills-content .javascript {
  background: khaki;
}

#skills .container-skills .main .skills-content .nodejs {
  background: lightseagreen;
}

#skills .container-skills .main .skills-content .react {
  background: lightskyblue;
}

#skills .container-skills .main .skills-content .sass {
  background: lightcoral;
}

#skills .container-skills .main .skills-content .bootstrap {
  background: lightskyblue;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
}

#contact .container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 60%;
  background: #f0f0f7;
}

@media (max-width: 37.4375em) {
  #contact .container-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 280px;
  }
}

#contact .container-contact .social-medias {
  margin-left: 40px;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .social-medias {
    margin-left: 0;
  }
}

#contact .container-contact .social-medias h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .social-medias h2 {
    font-size: 1.2em;
  }
}

#contact .container-contact .social-medias .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact .container-contact .social-medias .icons i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  margin: 3px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .social-medias .icons i {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
  }
}

#contact .container-contact .social-medias p {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .social-medias p {
    font-size: 1em;
  }
}

#contact .container-contact .form-contact {
  width: 50%;
  height: 100%;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact {
    width: 100%;
    height: 600px;
  }
}

#contact .container-contact .form-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form {
    width: 100%;
    height: 600px;
  }
}

#contact .container-contact .form-contact form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .container-contact .form-contact form .container .beside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container .beside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contact .container-contact .form-contact form .container .beside .container-email,
#contact .container-contact .form-contact form .container .beside .container-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#contact .container-contact .form-contact form .container .beside .container-email input,
#contact .container-contact .form-contact form .container .beside .container-phone input {
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-bottom: 1px solid #000;
  font-size: .9em;
  margin: 10px 0;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container .beside .container-email input,
  #contact .container-contact .form-contact form .container .beside .container-phone input {
    width: 300px;
    height: 30px;
  }
}

#contact .container-contact .form-contact form .container .beside .container-email label,
#contact .container-contact .form-contact form .container .beside .container-phone label {
  position: absolute;
  margin: 0 10px;
  bottom: 15px;
  left: 0;
  color: #000;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 1em;
}

#contact .container-contact .form-contact form .container .beside .container-email input:focus ~ label,
#contact .container-contact .form-contact form .container .beside .container-email input:valid ~ label,
#contact .container-contact .form-contact form .container .beside .container-phone input:focus ~ label,
#contact .container-contact .form-contact form .container .beside .container-phone input:valid ~ label {
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
  font-size: .9em;
  letter-spacing: .1em;
  color: rgba(73, 73, 73, 0.9);
}

#contact .container-contact .form-contact form .container .container-name,
#contact .container-contact .form-contact form .container .container-message {
  position: relative;
  margin: 20px 0;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container .container-name,
  #contact .container-contact .form-contact form .container .container-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contact .container-contact .form-contact form .container .container-name input,
#contact .container-contact .form-contact form .container .container-message input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-bottom: 1px solid #000;
  font-size: .8em;
  margin: 10px 0;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container .container-name input,
  #contact .container-contact .form-contact form .container .container-message input {
    width: 300px;
    height: 30px;
  }
}

#contact .container-contact .form-contact form .container .container-name textarea,
#contact .container-contact .form-contact form .container .container-message textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 100px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-bottom: 1px solid #000;
  font-size: .8em;
  margin: 10px 0;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container .container-name textarea,
  #contact .container-contact .form-contact form .container .container-message textarea {
    width: 300px;
  }
}

#contact .container-contact .form-contact form .container .container-name label,
#contact .container-contact .form-contact form .container .container-message label {
  position: absolute;
  margin: 0 10px;
  bottom: 15px;
  left: 0;
  color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

#contact .container-contact .form-contact form .container .container-name input:focus ~ label,
#contact .container-contact .form-contact form .container .container-name input:valid ~ label,
#contact .container-contact .form-contact form .container .container-message input:focus ~ label,
#contact .container-contact .form-contact form .container .container-message input:valid ~ label {
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
  font-size: .9em;
  letter-spacing: .1em;
  color: rgba(73, 73, 73, 0.9);
}

#contact .container-contact .form-contact form .container .container-name textarea:focus ~ label,
#contact .container-contact .form-contact form .container .container-name textarea:valid ~ label,
#contact .container-contact .form-contact form .container .container-message textarea:focus ~ label,
#contact .container-contact .form-contact form .container .container-message textarea:valid ~ label {
  -webkit-transform: translateY(-96px);
          transform: translateY(-96px);
  font-size: .9em;
  letter-spacing: .1em;
  color: rgba(73, 73, 73, 0.9);
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container .container-name textarea:focus ~ label,
  #contact .container-contact .form-contact form .container .container-name textarea:valid ~ label,
  #contact .container-contact .form-contact form .container .container-message textarea:focus ~ label,
  #contact .container-contact .form-contact form .container .container-message textarea:valid ~ label {
    width: 140px;
    height: 30px;
  }
}

#contact .container-contact .form-contact form .container button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 400px;
  height: 50px;
  background: cadetblue;
  margin-top: 40px;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #000;
}

@media (max-width: 37.4375em) {
  #contact .container-contact .form-contact form .container button {
    width: 140px;
    height: 30px;
  }
}

#contact .container-contact .form-contact form .container button:hover {
  background: #0e3c3d;
  color: #fff;
  cursor: pointer;
}

#contact .informations-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 300px;
  background: #f0f0f7;
}

@media (max-width: 37.4375em) {
  #contact .informations-contact {
    height: 600px;
  }
}

#contact .informations-contact .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 40px 0;
}

@media (max-width: 37.4375em) {
  #contact .informations-contact .center {
    margin: 20px;
  }
}

#contact .informations-contact .center .box {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 20px 40px;
  background: #fff;
  -webkit-box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media (max-width: 37.4375em) {
  #contact .informations-contact .center .box {
    width: 160px;
    height: 160px;
  }
}

#contact .informations-contact .center .box .imgBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

#contact .informations-contact .center .box .imgBx img {
  max-width: 70px;
}

#contact .informations-contact .center .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background: #000;
  -webkit-transform: scale(0) translateY(calc(100% - 5px));
          transform: scale(0) translateY(calc(100% - 5px));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact .informations-contact .center .box .content .icon img {
  width: 70px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 37.4375em) {
  #contact .informations-contact .center .box .content .icon img {
    width: 50px;
  }
}

#contact .informations-contact .center .box .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 2px;
  margin-top: 20px;
}

#contact .informations-contact .center .box .content p {
  color: #fff;
  font-size: .9em;
  font-weight: 500;
}

#contact .informations-contact .center .box .content p:last-child {
  font-size: .75em;
}

#contact .informations-contact .center .box:hover .imgBx {
  -webkit-transform: scale(1) translateY(-100%);
          transform: scale(1) translateY(-100%);
}

#contact .informations-contact .center .box:hover .content {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 200px;
  background: #f0f0f7;
}

@media (max-width: 37.4375em) {
  footer {
    margin-top: 400px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container h4 {
  font-size: 3em;
}

@media (max-width: 37.4375em) {
  footer .container h4 {
    font-size: 2em;
  }
}

footer .container p {
  font-size: 1.6em;
}

@media (max-width: 37.4375em) {
  footer .container p {
    font-size: 1.2em;
  }
}

footer .container span {
  font-size: 1em;
  color: #aaa;
  margin-right: 5px;
}

@media (max-width: 37.4375em) {
  footer .container span {
    font-size: .9em;
  }
}
/*# sourceMappingURL=style.css.map */