#about {
    width: 100vw;
    height: 100vh;
    font-size: $font-size;
    @include breakpoint(small-only) {
        font-size: $font-size-mobile;
    }

    .carousel-about {
        @include flex-direction-row();
        width: inherit;
        height: inherit;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow: hidden;

        .about-container,
        .see-more-container {
            @include flex-center();
            width: inherit;
            height: inherit;
            flex: none;
            scroll-snap-align: start;

            .about-content,
            .see-more-content {
                @include flex-space-around();
                flex: none;
                scroll-snap-align: start;
                width: 85%;
                height: 80%;
                border-radius: 20px;
                padding: 60px;
                background: $background-color;
                box-shadow: $box-shadow-default;
                @include breakpoint(small-only) {
                    @include flex-direction-column();
                    width: 90%;
                    height: 80%;
                    padding: 10px;
                }

                .container-image {
                    @include flex-justify-start();

                    img {
                        width: 200px;
                        @include breakpoint(small-only) {
                            width: 180px;
                            margin-top: 40px;
                        }
                    }
                }

                .about-informations {
                    @include flex-center();
                    @include flex-direction-column();
                    width: 60%;
                    height: 40%;

                    button {
                        width: 200px;
                        height: 40px;
                        background: $button-color-lighter;
                        //margin: 10px 0;
                        border: none;
                        border-radius: 10px;
                        outline: none;
                        cursor: pointer;
                        transition: .8s;
                        font-size: 1.04em;
                    }

                    button:hover {
                        background: $button-color-darker;
                        transition: .8s;
                        color: #fff;
                    }

                    h2 {
                        font-size: 1.6em;
                        font-weight: 600;
                        align-self: flex-start;
                        @include breakpoint(small-only) {
                            font-size: 1.1em;
                        }
                    }

                     p {
                        font-size: 1em;
                        margin: 10px 0;
                        @include breakpoint(small-only) {
                            font-size: 1em;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .see-more-container {
            .see-more-content {
                @include flex-direction-column();
                padding: 20px 60px;
                padding-bottom: 100px;
                @include breakpoint(small-only) {}

                .top {
                    @include flex-justify-end();
                    width: 100%;
                    @include breakpoint(small-only) {}

                    button {
                        width: 100px;
                        height: 40px;
                        background: $button-color-lighter;
                        //margin: 10px 0;
                        border: none;
                        border-radius: 10px;
                        outline: none;
                        cursor: pointer;
                        transition: .8s;
                        font-size: 1.04em;
                        @include breakpoint(small-only) {}
                    }

                    button:hover {
                        background: $button-color-darker;
                        transition: .8s;
                        color: #fff;
                        @include breakpoint(small-only) {}
                    }
                }
                
                .more-informations {
                    p {
                        text-indent: 1.4em;
                        @include breakpoint(small-only) {}
                    }
                }
            }
        }
    }
}