@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 1366px;
    height: 100%;
    background: url(../../images/background.jfif) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    @include breakpoint(small-only) {
        background: #aaa;
    }
}

.absolute-position {
    position: absolute;
    width: 100vw;
    background: $header-primary-color;
    top: 160px;
    @include breakpoint(small-only) {
        top: 100px;
    }
}

.fixed-position {
    position: fixed;
    z-index: 1;
    border-top: 2px solid rgba(9,9,121,1);
    top: 0;
    @include breakpoint(small-only) {
        
    }
}

.neutral {
    @include flex-center();
    width: inherit;
    height: 50px;
    border-radius: 10px;
    background: none;
    transition: .6s;
}

.error {
    @include flex-center();
    width: inherit;
    height: 50px;
    border-radius: 10px;
    background: #f00;
    color: #000;
    transition: .6s;
}

.success {
    @include flex-center();
    width: inherit;
    height: 50px;
    border-radius: 10px;
    background: green;
    color: #000;
    transition: .6s;
}

.form-neutral {
    width: 90%;
    height: 0px;
    background: none;
    border-radius: 10px;
    transition: .6s;
}

.form-error {
    @include flex-center();
    width: 90%;
    height: 40px;
    padding: 8px;
    background: #f00;
    border-radius: 10px;
    font-size: .9em;
    transition: .6s;
}

.form-success {
    @include flex-center();
    width: 90%;
    height: 40px;
    background: green;
    border-radius: 10px;
    padding: 8px;
    font-size: .9em;
    transition: .6s;
}

.btn-page {
    color: #000;
}

.hidden {
    display: none !important;
}