#skills {
    width: 100vw;
    height: 100vh;
    font-size: $font-size;
    background: coral;
    @include breakpoint(small-only) {
        font-size: $font-size-mobile;
    }

    .top-bar {
        @include flex-space-around();
        width: inherit;
        height: 100px;
        padding-top: 40px;
        background: lightcoral;
        @include breakpoint(small-only) {
            //@include flex-space-between();
        }

        .container-comments {
            @include flex-direction-row();
            @include flex-justify-end();
            @include breakpoint(small-only) {}

            .show-comments-field {
                position: relative;
                @include breakpoint(small-only) {}

                .show-comments {
                    cursor: pointer;
                }

                .populate-comments {
                    @include flex-direction-column();
                    width: 650px;
                    height: 600px;
                    position: absolute;
                    top: 50px;
                    left: -450px;
                    background: #f00;
                    border-radius: 20px;
                    @include breakpoint(small-only) {
                        width: 320px;
                        height: 520px;
                        top: 40px;
                        left: -160px;
                    }

                    .pagination {
                        @include flex-direction-row();
                        @include flex-center();

                        p {
                            font-size: 1.4em;
                            font-weight: 600;
                            margin: 0 4px;
                            margin-bottom: 10px;
                        }

                        p:hover {
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                    
                    .container-populate-comments {
                        @include flex-center();
                        width: inherit;
                        height: inherit;

                        .content {
                            @include flex-direction-column();
                            width: 90%;
                            height: 92%;
                            background: ivory;

                            .comment {
                                @include flex-direction-column();
                                width: 100%;
                                height: 160px;
                                background: lawngreen;
                                border-radius: 20px;
                                margin: 6px 0;
                                 @include breakpoint(small-only) {
                                    height: 140px;
                                    margin: 4px 0;
                                }

                                .main {
                                    height: 124px;
                                    padding: 10px;

                                    p {
                                        font-size: 1.08em;
                                    }
                                }

                                .bottom {
                                    @include flex-justify-end();
                                    padding-right: 30px;
                                    
                                    p {
                                        font-size: 1em;
                                        font-weight: 500;
                                        color: bisque;
                                    }
                                }
                            }
                        }
                    }
                }

                .populate-comments::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -10px;
                    right: 100px;
                    transform: rotate(45deg);
                    background: #f00;
                    @include breakpoint(small-only) {
                        right: 80px;
                    }
                }
            }

            .add-comments-field {
                position: relative;
                i {
                    font-size: 1.4em;
                    margin: 0 10px;
                    cursor: pointer;
                    @include breakpoint(small-only) {}
                }

                .container-form {
                    width: 400px;
                    height: 380px;
                    position: absolute;
                    top: 50px;
                    left: -250px;
                    @include breakpoint(small-only) {
                        width: 280px;
                        height: 280px;
                        top: 40px;
                        //right: -200px;
                        //z-index: 3;
                    }
                    
                    form {
                        @include flex-center();
                        @include flex-direction-column();
                        width: inherit;
                        height: inherit;
                        border-radius: 20px;
                        background: indigo;
                        
                        input,
                        textarea {
                            width: 90%;
                            height: 40px;
                            margin: 10px 0;
                            padding: 10px;
                            font-size: 1.1em;
                            border: none;
                            border-radius: 10px;
                            outline: none;
                            @include breakpoint(small-only) {
                                margin: 5px 0;
                            }
                        }
                        
                        textarea {
                            height: 100px;
                        }
                        
                        label {
                            font-size: 1.1em;
                        }

                        button {
                            width: 80%;
                            height: 40px;
                            background: $button-color-lighter;
                            margin: 40px 0;
                            border: none;
                            border-radius: 10px;
                            outline: none;
                            font-size: 1.1em;
                            font-weight: 600;
                            @include breakpoint(small-only) {
                                margin: 20px 0;
                            }
                        }

                        button:hover {
                            cursor: pointer;
                            background: $button-color-darker;
                            color: #fff;
                        }
                    }
                }

                .container-form::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -10px;
                    right: 115px;
                    transform: rotate(45deg);
                    background: indigo;
                    @include breakpoint(small-only) {
                        top: -10px;
                        right: 30px;
                    }
                }
            }
        }
    }

    .container-skills {
        @include flex-center();
        width: inherit;
        height: 90%;
        background: lawngreen;
        @include breakpoint(small-only) {}
        
        .main {
            @include flex-space-between();
            background: lightseagreen;
            width: 80%;
            height: 70%;
            @include breakpoint(small-only) {
                @include flex-direction-column();
            }

            nav {
                @include flex-direction-column();
                @include flex-center();
                width: 110px;
                height: 700px;
                background: #000;
                border-radius: 30px;
                padding: 10px;
                @include breakpoint(small-only) {
                    @include flex-direction-row();
                    width: 100%;
                    height: 50px;
                    padding: 2px;
                }

                i {
                    font-size: 4em;
                    cursor: pointer;
                    color: #fff;
                    margin: 5px 0;
                    @include breakpoint(small-only) {
                        font-size: 2.6em;
                    }
                }

                .fa-html5:hover { color: #f00; }
                .fa-css3-alt:hover { color: rgb(0, 119, 199); }
                .fa-js-square:hover { color: #ff0; }
                .fa-node-js:hover { color: rgb(0, 138, 0); }
                .fa-react:hover { color: rgb(1, 153, 241); }
                .fa-sass:hover { color: rgb(170, 1, 133); }
                .fa-bootstrap:hover { color: rgb(43, 1, 160); }
                .fa-database:hover { color: palegreen; }
            }
    
            .skills-content {
                @include flex-center();
                width: 90%;
                height: 100%;
                background: crimson;
                @include breakpoint(small-only) {}

                .skills {
                    @include flex-center();
                    @include flex-direction-column();
                    width: 1500px;
                    height: 650px;
                    background: ivory;
                    border-radius: 20px;
                    box-shadow: $box-shadow-default;
                    padding: 20px;
                    @include breakpoint(small-only) {
                        width: 100%;
                        height: 90%;
                        margin-top: 10px;
                    }
                    
                    h4 {
                        align-self: flex-start;
                        font-size: 1.4em;
                        margin-bottom: 40px;
                        @include breakpoint(small-only) {
                            font-size: 1em;
                            margin-bottom: 5px;
                        }
                    }

                    p {
                        font-size: 1.2em;
                        @include breakpoint(small-only) {
                            font-size: .9em;
                        }
                    }
                }

                .html { background: lightcoral; }
                .css { background: lightsteelblue; }
                .javascript { background: khaki; }
                .nodejs { background: lightseagreen; }
                .react { background: lightskyblue; }
                .sass { background: lightcoral; }
                .bootstrap { background: lightskyblue; }
            }
        }
    }

}